.padding{
    margin: 150px 0px 20px 20px;
    font-size:40px;
}

.p6{
    margin: 20px 0px 0px 20px;
   
}
.col2{
    margin-top: 140px;
}

.btnwhatsapp{
    display: none;
}

@media (max-width: 773px) { 
    .col2{
        display: none;
    }
  
     .padding{
        font-size: 41px;
        text-align: center;
    }

     #colhide{
        display: none;
     }
     .font{
        margin-left: 25px;
    }
    
    .fonttext{
        margin-left: 25px;    
    }
    
    .textQualityFood2{
        margin-left: 25px;
    }
    .bold{
        margin-left: 25px;
    }
       
    .col-sm-4{
        vertical-align: middle;
    }

    .card1{
        width: 330px !important;
    }
    .card2{
        width: 330px !important;
    }
    .card3{
        width: 710px !important;
    }
    .col-sm{
        display: flex;
        justify-content: center;
        margin-left: 0px !important;
     }
  } 
  
  
@media (max-width: 768px) { 
   .padding{
    text-align: center;
    font-size: 60px;
   }
   .p6{
    text-align: center;
    font-family:sans-serif;
   }

 #btn{
    text-align: center;
 }
 .btnwhatsapp{
    display: inline-block;
 }
 .setitem{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
   }
   
   .col-sm{
   display: flex;
   justify-content: center;
   margin-left: 0px !important;
}
.card1{
       width: 500px !important;
       flex-direction: column;
    text-align: center !important;
}
.card2{
    width: 500px !important;
    text-align: center !important;
}
.card3{
    width: 500px !important;
    text-align: center !important;
}
.link{
    display: inline-block;
   }

} 


@media (max-width: 520px) { 
    .padding{
     text-align: center;
     font-size: 40px;
    }
 
    .btn{
        margin-left: 10px;
        width: 90%;
    }
    .btnwhatsapp{
        margin-left: 10px;
        width: 90%;
    }
    .col2{
        display: none;
    }
    .setitem{
        width: fit-content;
       }

       .col-sm{
        margin-left: 0px !important;
       }
   .link{
    display: inline-block;
   }
}


@media (max-width: 634px){
    .setitem{
        width: fit-content;
       }
}



@media (max-width: 200px){
    .padding{
        text-align: center;
        font-size: 40px;
        margin-right: 10px; 
       }

       .col2{
        display: none;
    }
    
  
}
.color1{
   background-color: #fff3ee;
}
.color2{
    background-color: #f5f8fa;
}
.textstyle{
    text-align: center;
    margin-top: 70px;
}
.text1{
     font-size: 32px;
}
.text2{
    font-size: 32px;
    color: #ff7A59;
}
.col{
    margin-top: 50px;
}
.digit1{
    font-size: 32px;
    color: #28A745;
}
.imgset{
    display: flex;
    justify-content: center;
}
.img1{
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}
.menucenter{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.menu{
   font-size: 20px;
}

.text-center, h5{
    text-align: center;
    margin-bottom: 50px;
}
.Qualityfood{
    background-image:linear-gradient(45deg,#00a4bd,#00bda5);
}

.textQualityFood{
    margin-top: 60px;
    font-weight: bold;
    font-size: 35px;
    color: white;
    margin-left: 25px;
    overflow: hidden;
    font-family: Inter,sans-serif;

}

.font{
    font-family: Inter,sans-serif;
    color: white;
    margin-left: 25px;
}

.fonttext{
    margin-top: 5px;
    margin-left: 25px; 
    color: white;   
    font-family: Inter,sans-serif;
}

.textQualityFood2{
    color: white;
    margin-left: 25px;
    font-family:Inter,sans-serif;
}
.bold{
    margin-top: 20px;
    color: white;
    margin-left: 25px;
}
.bgcolor{
    background-color: #2e3c4d;
}
#btnseemenu{
    margin-top: 0px;
    text-align: center;
}
.col-sm{
    margin-left: 10px;
    margin-right: 10px;
}
.card-text{
    line-height: 25px;
}
.card1{
    margin-bottom: 80px;
    background-color: #F6F4F0;
    border-radius: 5px;
    
}
.card2{
    margin-bottom: 80px;
    background-color: #F6F4F0;
    border-radius: 5px;
}
.card3{
    margin-bottom: 80px;
    background-color: #F6F4F0; 
    border-radius: 5px;
}
/*.btn{
    height: 45px;
    width: 150px;
    font-size: 17px;
}*/


.textusman{
    margin-top: 15px;
}
.textarsalan{
    margin-top: 15px;
}
.textshahzeb{
    margin-top: 60px;
}
.textahmed{
    margin-top: 15px;
}
.texthuma{
    margin-top: 15px;
}
.textzahra{
    margin-top: 15px;
}

.link1{
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: 12px;
}
.link1:hover{
    color: white;
    text-decoration: underline;
}
.link2{
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.link3{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-left: 10px;
}
.link3:hover{
    color: white;
    text-decoration: underline;
}
.link2:hover{
    color: white;
    text-decoration: underline;
}

.Copyright{
    color: white;
    font-size: 12px;
}

/*See Menu Html Page Style-------------------------------------------*/
.colornav{
    background-color: white;
}

.EconomyMenutext{
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
    font-weight: 500;
}
.PKR{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}
.colortablehead{
    background-color: greenyellow;
}
.btncenter{
    text-align: center;
}
.link{
    text-decoration: none;
    color: white;
    line-height: 40px;
    font-size: 12px;
}
.link a:hover{
    color: white;
    text-decoration: underline;
}



/* Daily Menu .html style------------------------*/

.textadjust{
    text-align: center;
    margin-top: 100px;
}
.textlinkstyle{
    text-decoration: none;
    color: black;
}
.textlinkstyle:hover{
    color: black;
}

.textnevermiss{
    margin-top: 50px;
    color: white;
 font-size: 35px;
}
.margintop{
    margin-top: 120px;
}
/* Frozen Fodd Css ---------------------------*/

/* Card Css ------*/
.navbarcolor{
    background-color: white;
}
/*body{
    margin:0;
    padding:0;
    background:#f2f2f2;
    font-family: 'Acme';
  }*/
  
  .container2{
    max-width: 1000px;
    /*margin:100px auto;*/
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  
  .card5{
    position:relative;
    margin:20px 0;
    width:300px;
    height:250px;
    background: #fff;
    transform-style:preserve-3d;
    transform:perspective(2000px);
    transition:1s;
    box-shadow:inset 100px 0 50px rgba(0,0,0,0.5);
  }
  
  .card5:hover{
    z-index:1111;
    transform:perspective(2000px) rotate(-10deg);
    box-shadow:inset 20px 0 50px rgba(0,0,0,0.5);
  }
  
  .card5 .img-container{
    position:relative;
    width:100%;
    height:100%;
    border:1px solid #000;
    box-sizing:border-box;
    transform-origin:left;
    z-index:1;
    transition:1s;
  }
  
  .card5 .img-container img{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    object-fit:cover;
  }
  
  .card5:hover .img-container{
    transform:rotateY(-135deg);
  }
  
  .card5 .card5-details{
    position:absolute;
    left:0;
    top:0;
    box-sizing:border-box;
    margin-top: 10px;
    margin-left: 17px;
    /*padding:20px;*/
    color:#000;
  }
  
   .card5 .card5-details h2{
    margin:0;
    padding:0.5em 0;
    text-transform:capitalize;
    font-size:2em;
    color:#ed363a;
  }

  .h3color{
    color: #ed363a;
  }
  
  .card5 .card5-details p{
    margin:0;
    padding:0;
    line-height:25px;
    font-size:1.1em;
}

/* Become a food lancer ------------*/
.peoplearetalkingcolor{
    background-color:lightskyblue;
}
.styletextfont{
    font-size: 35px;
    font-weight: bold;
}
.textfont{
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* btn styling -------------*/
.btn {
    --color: #0000FF;
    /*--color: #3dd3ae;*/
    --color2: white;
    padding: 0.8em 1.75em;
    background-color: lightblue;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: black;
   }
   
   .btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .btn:hover {
    color: var(--color2);
   }
   
   .btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }




   /*  Weight Loss Diet Plan-----------------------*/
   .textcolorwhite{
    color: white;
    margin-top: 50px;
   }

   .textWeightLoss{
    margin-top: 50px;
    color: white;
    font-size: 35px;
    text-align: center;
   }

   /* Contact Css ----------------------*/
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}*/
/*body{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.formstyle{
    margin-top: 100px;
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.formstyle .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.formstyle .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.formstyle .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: #5029bc;
}

@media (max-width: 950px) {
  .formstyle{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .formstyle .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .formstyle{
    margin: 40px 0;
    height: 100%;
  }
  .formstyle .content{
    flex-direction: column-reverse;
  }
 .formstyle .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .formstyle .content .left-side::before{
   display: none;
 }
 .formstyle .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

#btncolor{
    --color: #5029bc;
}

/* Chicken Biryani--------------------------------*/

.cta-btn-outline-primary.active, .cta-btn-outline-primary:hover {
    background: #fff1ee;
    text-decoration: none;
}

.cta-btn-outline-primary {
    margin-left: 5px;
    background: #fff;
    color: #ff7a59;
    border: 1px solid #ff7a59;
}
.cta-btn {
    display: inline-block;
    padding: 0.4rem 1.7rem;
    cursor: pointer;
    font-size: .98rem;
    font-weight: 600;
    border-radius: 0.1875rem;
    background: transparent;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.cta-btn {
    --color: #ff7a59;
    /*--color: #3dd3ae;*/
    --color2: white;
    padding: 0.8em 1.75em;
    background-color: #fff1ee;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: black;
   }
   
   .cta-btn::after, .cta-btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
   }
   
   .cta-btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .cta-btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
   }
   
   .cta-btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
   }
   
   .cta-btn:hover {
    color: var(--color2);
   }
   
   .cta-btn:active {
    filter: brightness(.7);
    transform: scale(.98);
   }

/* Frozen Food ------------------- */
.element.style {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}